<div class="container mt-5">
  <v8-search-bar (searchEvent)="searchEvent($event)"></v8-search-bar>
  <v8-search-content [items]="items" [searchText]="text" [pagination]="pagination"
                     (pageEvent)="doFilterPage($event)" (sizeEvent)="doChangeSize($event)"></v8-search-content>
</div>
