<ol class="list-group list-group-numbered">
  <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div [innerHTML]="item.name | highlightText: searchText"></div>
      <div [innerHTML]="item.description | highlightText: searchText"></div>
    </div>
  </li>
</ol>
<div class="row mt-4" *ngIf="pagination.totals > 0">
  <div class="col-sm-2">
    <select class="form-control" [(ngModel)]="pagination.size" (ngModelChange)="changeSize($event)">
      <option [value]="size" *ngFor="let size of sizes">{{size}}</option>
    </select>
  </div>
  <div class="col-sm-10">
    <div class="d-flex justify-content-end">
      <pagination [totalItems]="pagination.totals" [itemsPerPage]="pagination.size"
                  (pageChanged)="pageChanged($event)" [maxSize]="4" [boundaryLinks]="true"></pagination>
    </div>
  </div>
</div>
