<div class="card">
  <div class="card-body">
    <form [formGroup]="searchForm" class="col-md-6 offset-md-3 mt-4 mb-3">
      <div class="input-group input-group-lg">
        <input type="text" formControlName="search" class="form-control form-control__search"
               placeholder="Buscar" maxlength="100" (keyup.enter)="onSubmit()">
        <button class="btn btn-warning btn-search" type="button" (click)="onSubmit()">
          <span>BUSCAR</span>
        </button>
      </div>
    </form>
  </div>
</div>
