.btn-search {
  border-radius:  0 1.3rem 1.3rem 0;
  text-align: center;
  box-shadow: 0 0 0 0.3rem rgba(255, 193, 7, 0.4);
  width: 6rem;
}

.form-control__search {
  border-radius:  1.3rem 0 0 1.3rem;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.2);
  &:focus {
    box-shadow: 0 0 0 0.3rem rgba(255, 193, 7, 0.25);
    border-color: rgba(255, 193, 7, 0.85);
  }
  &.ng-invalid {
    border-left: 0 solid;
  }
}

